@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --amarelo: rgb(241,192,5);
    --lightvermelho: rgb(218, 51, 59);

    --fundo: #0D0D0D;
    --fundo-secundario: #1A1A1A;
    --branco-sutil: #E5E5E5;
    --cinza-claro: #AAAAAA;
    --mostarda: #F1A208;
    --fundo-terciario: #2A2A2A;
    --cinza-medio: #666666;
    --cinza-escuro: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*BOTAO FLUTUANTE*/
.container-flutuante {
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 160px;
    height: 120px;

    opacity: 0; /*invisivel*/
    pointer-events: none; /*impede ação*/
    transition: opacity 0.4s ease-in-out;
}

.container-flutuante.visivel {
    opacity: 1;
    pointer-events: auto;
}

.botao-delivery {
    position: absolute;
    bottom: 20px;
    right: -40px;
    
    background-color: var(--vermelho);
    padding: 0.8rem;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    transition: right 0.2s, transform 0.2s;
}

.container-flutuante:hover .botao-delivery {
    transform: scale(1.1);
    right: 40px;
}