@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --amarelo: rgb(241,192,5);

    --fundo: #0D0D0D;
    --fundo-secundario: #1A1A1A;
    --branco-sutil: #E5E5E5;
    --cinza-claro: #AAAAAA;
    --mostarda: #F1A208;
    --fundo-terciario: #2A2A2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

body.dark {
    background-color: #2c2a2a;
    color: white;
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header"
    "article"
    "main";
    grid-template-columns: auto;
    
}

header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);
    display: flex;
    max-width: 100vw;
    height: 13vh;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    justify-self: start;
}

header .logo img {
    height: 65px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}

  .nav {
    display: flex;
    gap: 1.5rem;
}
  
  .nav a {
    color: white;
    text-decoration: none;
}
  
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
    padding-bottom: 0.1rem;
    transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}
  
.DL .label {
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
  
.DL .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
      background-color: #272626;
}
  
.DL .fa-moon {
    color: #f1c40f;
}
  
.DL .fa-sun {
    color: #f39c12;
} /*fim Acessibilidade modo D e L*/









.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(35, 34, 34, 0.158); /* Claro padrão */
    color: #000000;
  }
  
  body.dark .container {
    background-color: #000000;
    color: var(--darkverde);
  }

  .info h2 {
    font-size: 35px;
    color: #d62828;
  }
  
  body.dark .info h2 {
    color: var(--darkverde);
  }
  
  .info p {
    font-size: 1.7rem;
    color: #333;
  }
  
  body.dark .info p {
    color:white;
  }
  




  .footer {
    text-align: center;
    padding: 30px 20px;
    font-size: 0.95rem;
    background-color: #f8f8f8;
    color: #555;
    margin-top: 60px;
    border-top: 1px solid #ddd;
  }
  
  body.dark .footer {
    background-color: #1f1f1f;
    color: #ccc;
    border-top: 1px solid #333;
  }
  


  iframe {
    width: 750px;
    height: 750px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }