@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --amarelo: rgb(241,192,5);

    --fundo: #0D0D0D;
    --fundo-secundario: #1A1A1A;
    --branco-sutil: #E5E5E5;
    --cinza-claro: #AAAAAA;
    --mostarda: #F1A208;
    --fundo-terciario: #2A2A2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

body.dark {
    background-color: #000000;
    color: white;
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header"
    "article"
    "main"
    "footer";
    grid-template-columns: auto;
    
}


header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);
    display: flex;
    max-width: 100vw;
    height: 13vh;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    justify-self: start;
}

header .logo img {
    height: 65px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}

  .nav {
    display: flex;
    gap: 1.5rem;
}
  
  .nav a {
    color: white;
    text-decoration: none;
}
  
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
    padding-bottom: 0.1rem;
    transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}
  
.DL .label {
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
  
.DL .label .ball {
    background-color: antiquewhite;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
      background-color: #272424;
}
  
.DL .fa-moon {
    color: #f1c40f;
}
  
.DL .fa-sun {
    color: #f39c12;
} /*fim Acessibilidade modo D e L*/

article {
    background-image: linear-gradient( rgba(0, 44, 42, 0.35) ), url(img_cardapios/pizzabanner.jpg);
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: auto; /*contain'*/
    background-position: top left;
    color: white;
    grid-area: article;
    font-size: 200%;
    font-weight: 800;
    padding: 11vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

article h1{
    margin-top: 2vh;
    place-content: center;
}

body.dark article h1 {
    color: var(--branco-sutil);
}


main {
    grid-area: main;
    color: var(--darkverde);
    background-color: var(--cinza-claro);
}

body.dark main {
    background-color: var(--fundo-secundario);
}

main .caixa-cardapio {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-left: 3vw;
    max-width: 94vw;
    border-radius: 10px;
    background-color: var(--branco-sutil);
}

body.dark main .caixa-cardapio {
    background-color: black;
}

main .caixatipo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
}

main .caixatipo-bordas {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

main .caixatipo .tipo {
    display: flex;
    justify-content: center;
    align-items: center;
}


main .caixatipo-bordas .tipobordas h1 {
    justify-self: center;
    font-size: 180%;
    font-weight: 370;

    background-color: var(--verde);
    padding: 1rem;
    border-radius: 45px;
}


main .caixatipo .tipo h1 {
    justify-self: center;
    font-size: 180%;
    font-weight: 370;

    background-color: var(--verde);
    padding: 1rem;
    border-radius: 45px;
}

main .caixatipo .quantidade {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

main .caixatipo .quantidade h2 {
    font-size: 110%;
    font-weight: 300;
}

main #contentpizza {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-bottom: 2.5rem;
    max-width: 90vw;
    
    margin-left: 2vw;
}

main #contentpizza #caixapizza .caixatexto h4 {
    font-size: larger;
    font-weight: bold;
}

.imgpizza {
        width: 50%;
        height: 50%;
        border-radius: 10px;
}

footer {
    grid-area: footer;
    color: white;
    max-width: 100vw;
    background-color: var(--darkverde);
}

footer .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

footer .rodape img {
    height: auto;
    width: 5rem;
    margin-bottom: 1rem;
}

footer .rodape p {
    line-height: 1.5;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    header .menu nav {
        display: none;
    }

    header {
        height: 13vh;
    }

    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #004d40;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
      }
    
      .nav.active {
        display: flex;
        gap: 2rem;
        padding: 2rem 0rem 2rem 0rem;
      }
    
      .hamburger {
        display: block;
      }

    header .logo {
        margin: auto;
    }

    header .logo img {
        height: 60px;
    }

    header .menu .pecaagora {
        display: flex;
        gap: 1.5rem;
    }

    header .DL {
        margin-left: 1.2rem;
        display: flex;
        gap: 1rem;
    }

    main .caixatipo .quantidade {
        margin-left: 1.5rem;
        gap: 1rem;
    }

    main #contentpizza {
        display: grid;
        grid-template-columns: 90vw;
        justify-content: center;
        column-gap: 2rem;
    }
}