@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --lightvermelho: rgb(218, 51, 59);
    --darkvermelho: rgb(138, 26, 32);
    --amarelo: rgb(241,192,5);

    --fundo: #0D0D0D;
    --fundo-secundario: #1A1A1A;
    --branco-sutil: #E5E5E5;
    --cinza-claro: #AAAAAA;
    --mostarda: #F1A208;
    --fundo-terciario: #2A2A2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    color: white;
    font-family: "Roboto", sans-serif;
    background-color: var(--branco-sutil);
}

body.dark {
    background-color: var(--cinza-claro);
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "article1"
    "article2"
    "article3"
    "article4";
}

header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 13vh;

    align-items: center;
}

header .logo {
    justify-self: start;
    margin-left: 10vh;
}

header .logo img {
    height: 74px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 1.5rem;
}
  
  .nav a {
    color: white;
    text-decoration: none;
}
  
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.1rem;
  transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}
  
.DL .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
  
.DL .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
}
  
.DL .fa-moon {
    color: #f1c40f;
}
  
.DL .fa-sun {
    color: #f39c12;
} /*fim Acessibilidade modo D e L*/

main {
    grid-area: main;
    background-image: linear-gradient(to right, rgba(0, 44, 42, 0.5), rgba(0, 44, 42, 0)), url(imagens/pizza_main.jpg);
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: cover; /*contain'*/
    background-position: top left;
    min-height: 60vh;
}

main .citacao {
    display: flex;
    flex-direction: column; /* Isso organiza os itens um embaixo do outro */
    /*justify-content: center;*/ /* Isso centraliza no eixo Y (verticalmente) */
    /*align-items: center; /* Isso centraliza no eixo X (horizontalmente) */
    margin-top: 8vh;
    margin-left: 8vh;
    font-size: larger;
}

main .citacao h1 {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: lighter;
    line-height: 4.7rem; /*dintancia linhas texto*/
}

main .citacao h2 {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-left: 10px;
}

#article-1 {
    grid-area: article1;
    background-color: var(--darkverde);
    min-height: 15vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem
}

#article-1 .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

#article-1 .content img {
    max-height: 10vh;
}

#article-1 .content h3 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

#article-2 {
    grid-area: article2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

#article-2 .titulo {
    color: var(--darkverde);
}

#article-2 .titulo h2 {
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 0.7rem;
}

#article-2 .titulo p {
    font-size: 14px;
}

#article-2 .caixa-reco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

#article-2 .caixa-reco .caixa-suges {
    flex: 1; /* Cada item vai crescer igualmente e ocupar o espaço disponível */
    color: var(--darkverde);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto 1.5rem auto 1.5rem;
}

#article-2 .caixa-reco .caixa-suges img {
    height: 30rem;
    width: auto;
    margin: 0;
}

#article-2 .caixa-reco .caixa-suges h4 {
    font-size: 19px;
}

#article-2 .caixa-reco .caixa-suges p {
    font-size: smaller;
}

#article-3 {
    grid-area: article3;
    background-color: var(--darkverde);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 27rem;
}

#article-3 #contato-esquerda {
    width: 55%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

#article-3 #contato-esquerda .titulo-contato {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

#article-3 #contato-esquerda .topicos .itens {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
}

#article-3 #contato-esquerda .contato-links {
    display: flex;
    gap: 1.5rem;
}

#article-3 #contato-esquerda .contato-links a {
    background-color: var(--lightvermelho);
    padding: 1rem;
    border-radius: 15px;
}

#article-3 #contato-esquerda .contato-links a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#article-3 #contato-esquerda .contato-links a img {
    height: 1.3rem;
}

#article-3 #contato-direita {
    margin-left: auto;
    width: 45%;
    max-height: 27rem;
}

#article-3 #contato-direita img{
    height: 100%;
}

#article-4 {
    grid-area: article4;
    margin: 1rem auto 1rem auto;
    max-width: 100vw;
}

#article-4 .caixa-mapa {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}

#article-4 .caixa-mapa h2{
    color: #111;
    font-size: 2rem;
    margin: 1.3rem 0;
}

@media screen and (max-width: 1020px) {
    header .menu nav {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 13px 0px 13px 0px;
    }

    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #004d40;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
      }
    
      .nav.active {
        display: flex;
        gap: 2rem;
        padding: 2rem 0rem 2rem 0rem;
      }
    
      .hamburger {
        display: block;
      }

    header .logo {
        margin: auto;
    }

    header .menu .pecaagora {
        margin: 0 auto;
        display: flex;
        gap: 1.5rem;
    }

    header .DL {
        margin-left: auto;
        display: flex;
        gap: 1rem;
    }

    #article-1 {
        display:flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 2rem 2.5rem 2rem 2.5rem;
    }

    #article-1 .content {
        display: flex;
        flex-direction: row; /* imagem e h3 lado a lado */
        align-items: center; /* alinha verticalmente */
        justify-content: space-around; /* cria espaço entre img e h3 */

        flex-wrap: nowrap;
    }

    #article-1 .content h3 {
        font-size: 21.5px;
    }

    #article-2 .titulo h2 {
        line-height: 1;
    }

    #article-2 .caixa-reco {
        gap: 1.5rem; /*gap colunas mobile*/
    }

    #article-2 .caixa-reco {
        margin: auto 1.5rem auto 1.5rem;
    }
    
    #article-2 .caixa-reco .caixa-suges {
        margin: auto;
    }
    
    #article-3 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vw;
        height: auto;
    }

    #article-3 #contato-esquerda {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    #article-3 #contato-esquerda .titulo-contato {
        font-size: 32px;
        font-weight: bolder;
    }

    #article-3 #contato-direita {
        width: 100%;
    }
    
    #article-3 #contato-direita img {
        max-width: 100%;
    }
}