@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --amarelo: rgb(241,192,5);

    --fundo: #0D0D0D;
    --fundo-secundario: #1A1A1A;
    --branco-sutil: #E5E5E5;
    --cinza-claro: #AAAAAA;
    --mostarda: #F1A208;
    --fundo-terciario: #2A2A2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;

    /*background-image: url(img_cardapios/bg-lightcardapio.jpg);*/
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: auto; /* ou use 'cover' ou 'contain' dependendo do efeito desejado */
    background-position: top left;
}

body.dark {
    background-color: #555555;
    color: white;
    /*background-image: url(img_cardapios/bg-darkcardapio.jpg);*/
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: auto; /* ou use 'cover' ou 'contain' dependendo do efeito desejado */
    background-position: top left;
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header"
    "article"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.8fr auto;
}

header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 13vh;

    align-items: center;
}

.nav {
    display: flex;
    gap: 1.5rem;
}
  
.nav a {
    color: white;
    text-decoration: none;
}
  
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

header .logo {
    justify-self: start;
    margin-left: 10vw;
}

header .logo img {
    height: 70px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
    padding-bottom: 0.1rem;
    transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}
  
.DL .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
  
    padding: 5px;
    padding-right: 8px;
    position: relative;
    height: 26px;
    width: 50px;
  
    transform: scale(1.5);
}
  
.DL .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
}
  
.DL .fa-moon {
    color: #f1c40f;
}
  
.DL .fa-sun { /*fechamento Acessibilidade modo D e L*/
    color: #f39c12;
}

article {
    background-image: linear-gradient( rgba(0, 44, 42, 0.5), rgba(0, 44, 42, 0)), url(img_cardapios/pizzabanner.jpg);
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: auto; /*contain'*/
    background-position: top left;

    color: white;
    grid-area: article;
    /*background-color: rgb(172, 53, 53);*/
    font-size: 200%;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article h1{
    margin-top: 2vh;
    place-content: center;
}


main {
    grid-area: main;
    color: var(--darkverde);
    background-color: var(--branco-sutil);
   
}

body.dark main {
    background-color: var(--fundo-terciario);
}

main .caixa-cardapio {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 3vw;
    max-width: 94vw;
    border-radius: 10px;
    background-color: white;
}

body.dark .caixa-cardapio {
    background-color: var(--cinza-claro);
}

main .caixatipo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
}

main .caixatipo-bordas {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

main .caixatipo .tipo {
    display: flex;
    justify-content: center;
    align-items: center;
}


main .caixatipo-bordas .tipobordas h1 {
    justify-self: center;
    font-size: 180%;
    font-weight: 370;

    background-color: var(--verde);
    padding: 1rem;
    border-radius: 45px;
}


main .caixatipo .tipo h1 {
    justify-self: center;
    font-size: 180%;
    font-weight: 370;

    background-color: var(--verde);
    padding: 1rem;
    border-radius: 45px;
}

main .caixatipo .quantidade {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

main .caixatipo .quantidade h2 {
    font-size: 110%;
    font-weight: 300;
}

main #contentpizza {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-bottom: 2.5rem;
    max-width: 90vw;
    
    margin-left: 2vw;
}

main #contentpizza #caixapizza .caixatexto h4 {
    font-size: larger;
    font-weight: bold;
}

.imgpizza {
        width: 50%;
        height: 50%%;
        border-radius: 10px;
    }




@media screen and (max-width: 1020px) {
    header .menu nav {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 14px 0px 14px 0px;
    }
    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #004d40;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    
    .nav.active {
        display: flex;
    }
    
    .hamburger {
        display: block;
    }

    header .logo {
        margin: 0;
    }

    header .DL {
        display: none;
    }

    main .caixatipo .quantidade {
        margin-left: 1.5rem;
        gap: 1rem;
    }

    main #contentpizza {
        display: grid;
        grid-template-columns: 90vw;
        justify-content: center;
        column-gap: 2rem;
    }
}