@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --amarelo: rgb(241,192,5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    /*color: white;*/
    font-family: "Roboto", sans-serif;
}

body.dark {
    background-color: #292c35;
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "article1";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 13vh;

    align-items: center;
}

header .logo {
    justify-self: start;
    margin-left: 10vh;
}

header .logo img {
    height: 74px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.1rem;
  transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}
  
.DL .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
  
    padding: 5px;
    padding-right: 8px;
    position: relative;
    height: 26px;
    width: 50px;
  
    transform: scale(1.5);
}
  
.DL .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
}
  
.DL .fa-moon {
    color: #f1c40f;
}
  
.DL .fa-sun { /*fechamento Acessibilidade modo D e L*/
    color: #f39c12;
}

main {
    grid-area: main;
    background-image: linear-gradient(to right, rgba(0, 44, 42, 0.5), rgba(0, 44, 42, 0)), url(imagens/pizza_main.jpg);
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: cover; /*contain'*/
    background-position: top left;
    min-height: 60vh;
}

main .citacao {
    display: flex;
    flex-direction: column; /* Isso organiza os itens um embaixo do outro */
    /*justify-content: center;*/ /* Isso centraliza no eixo Y (verticalmente) */
    /*align-items: center; /* Isso centraliza no eixo X (horizontalmente) */
    margin-top: 8vh;
    margin-left: 8vh;
    font-size: larger;
}

main .citacao h1 {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: lighter;
    line-height: 4.7rem; /*dintancia linhas texto*/
}

main .citacao h2 {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-left: 10px;
}

#article-1 {
    grid-area: article1;
    background-color: var(--darkverde);
    min-height: 15vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem
}

#article-1 .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

#article-1 .content img {
    max-height: 10vh;
}

#article-1 .content h3 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

@media screen and (max-width: 1020px) {
    header .menu nav {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 13px 0px 13px 0px;
    }

    header .logo {
        margin: auto;
    }

    header .menu .pecaagora {
        margin: 0 auto;
        display: flex;
        gap: 1.5rem;
    }

    header .DL {
        margin-left: auto;
        display: flex;
        gap: 1rem;
    }

    #article-1 {
        display:flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 2rem 2.5rem 2rem 2.5rem;
    }

    #article-1 .content {
        display: flex;
        flex-direction: row; /* imagem e h3 lado a lado */
        align-items: center; /* alinha verticalmente */
        justify-content: space-between; /* cria espaço entre img e h3 */

        flex-wrap: nowrap;
    }

    #article-1 .content h3 {
        font-size: 21.5px;
    }
}