@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
*/

:root {
    --darkverde: rgb(0,44,42);
    --verde: rgb(0,161,78);
    --vermelho: rgb(231,27,36);
    --amarelo: rgb(241,192,5);

    --fundo: #0D0D0D;
    --fundo-secundario: #1A1A1A;
    --branco-sutil: #E5E5E5;
    --cinza-claro: #AAAAAA;
    --mostarda: #F1A208;
    --fundo-terciario: #2A2A2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    /*color: white;*/
    font-family: "Roboto", sans-serif;
}

body.dark {
    background-color: #050506;
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 13vh;

    align-items: center;
}

header .logo {
    justify-self: start;
    margin-left: 10vh;
}

header .logo img {
    height: 70px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.1rem;
  transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}
  
.DL .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
  
    padding: 5px;
    padding-right: 8px;
    position: relative;
    height: 26px;
    width: 50px;
  
    transform: scale(1.5);
}
  
.DL .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
      background-color: #000000;
}
  
.DL .fa-moon {
    color: #f1c40f;

}
  
.DL .fa-sun { /*fechamento Acessibilidade modo D e L*/
    color: #f39c12;
}

article {
    background-color: rgb(172, 53, 53);
    font-size: larger;
    font-size: 150%;
    font-weight: 800;
    padding: 6vh;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}