body {
    color: white;
    background-color: #ededed;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

body.dark {
    background-color:var(--fundo-secundario);
}

#container { /*ajuste de todo a disposição do conteudo no copor*/
    display: grid;
    grid-template-areas: 
    "header"
    "article"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

header { /*cabeçalho*/
    grid-area: header;
    background-color: var(--darkverde);
    display: flex;
    max-width: 100vw;
    height: 13vh;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    justify-self: start;
}

header .logo img {
    height: 65px;
    width: auto;
}

header .logo img:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}

  .nav {
    display: flex;
    gap: 1.5rem;
}
  
  .nav a {
    color: white;
    text-decoration: none;
}
  
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

header .menu { /*menu - peca agora*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /*distancia menus - pecaagora*/
}

header .menu nav { /*MENUS*/
    display: flex;
    gap: 1.5rem;
}

header .menu nav a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu nav a:hover{
    color: var(--vermelho);
    border-bottom: 0.1rem solid var(--vermelho);
    padding-bottom: 0.1rem;
    transition: 0.3s linear;
}

header .menu .pecaagora { /*peça agora*/
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 20px;
}

header .menu .pecaagora a{
    color: white;
    font-size: large;
    font-weight: 500;
}

header .menu .pecaagora:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header .DL { /*Inicio Acessibilidade modo D e L*/
    justify-self: end;
    margin-right: 5vh;
}

.DL .checkbox {
    opacity: 0;
    position: absolute;
}




.DL .label {
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}


.DL .label .ball{
    background-color: #fcfafa;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.DL .checkbox:checked + .label .ball {
      transform: translateX(24px);
      background-color: #161414;
}
  

.DL .fa-moon {
    color: #f1c40f;
}
  
.DL .fa-sun {
    color: #f39c12;
} /*fim Acessibilidade modo D e L*/
/* troca img para dark*/
article {
    grid-area: article;
    background-image: linear-gradient( rgba(0, 44, 42, 0.35)), url(../Cardapio/img_cardapios/bg-lightcardapio.jpg);
    background-repeat: repeat; /* Faz a imagem se repetir como um padrão */
    background-size: cover; /*contain'*/
    font-size: 200%;
    font-weight: 800;
    padding: 11vh;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

body.dark article {
    background-image: linear-gradient( rgba(0, 44, 42, 0.35)), url(../Cardapio/img_cardapios/bg-darkcardapio.jpg);
    color: var(--branco-sutil);
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
}

#containerbebidas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color:white;
    gap: 4rem;
    max-width: 90vw;  
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

body.dark #containerbebidas {
    background-color: var(--cinza-claro);
}

#bebidas{
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
    display: flex;
   align-items: center;
}

#bebidas p { /*PREÇOS*/
    display: none;
}


#bebidas :last-child {
    border-bottom: none;
}

.caixatexto{
color: var(--darkverde);
}

.refresco{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

footer {
    grid-area: footer;
    max-width: 100vw;
    background-color: var(--darkverde);
}

footer .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

footer .rodape img {
    height: auto;
    width: 5rem;
    margin-bottom: 1rem;
}

footer .rodape p {
    line-height: 1.5;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    header .menu nav {
        display: none;
    }

    header {
        height: 13vh;
    }

    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #004d40;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
      }
    
      .nav.active {
        display: flex;
        gap: 2rem;
        padding: 2rem 0rem 2rem 0rem;
      }
    
      .hamburger {
        display: block;
      }

    header .logo {
        margin: auto;
    }

    header .logo img {
        height: 60px;
    }

    header .menu .pecaagora {
        display: flex;
        gap: 1.5rem;
    }

    header .DL {
        margin-left: 1.2rem;
        display: flex;
        gap: 1rem;
    }

    #containerbebidas {
        display: grid;
        grid-template-columns: auto;
        max-width: 90vw;
        justify-content: center;
    }
}
